body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282a36;
  -ms-overflow-style: none; /* not sure if this actually does anything, I used it to get rid of the scrollbar */
  position: relative;
  margin: 0;
  height: 100vh;
  align-items: center;
}

.container {
  position: relative;
  text-align: center;
}

body::-webkit-scrollbar {
  display: none; /* same with this */
}

.glowing-text {
  display: inline-block;
  font-size: 48px;
  color: white;
  position: relative;
  text-shadow: 0 0 10px rgba(139, 121, 255, 0.8);
}
